/*
* @Author: Charlie Gallentine
* @Date:   2018-10-09 08:22:49
* @Last Modified by:   Charlie Gallentine
* @Last Modified time: 2018-10-18 22:06:41
*/

* {
	margin: 0;
	padding: 0;
}
body {
	background-image: url(../resources/klapperkop.jpg);
	background-size: auto 425px;
	font-family: Rockwell;
	overflow: hidden;
}

a {
	color: #B14B00;
	text-decoration: none;
}

#name {
	padding-left: 15px;
	position: fixed;
}

#name > h1{
	color: #B14B00;
	font-size: 42px;
	margin-bottom: -15px;
}

#navbar {
	align-items: center;
	background-color: #D0B3FD;
	display: flex;
	height: 50px;
	justify-content: flex-start;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.navitem {
	padding-left: 15px;
	padding-top: 10px;
}

.navitem > h2 {
	font-size: 24px;
}


@media screen and (min-width: 420px) {
	#name > h1{
		color: #B14B00;
		font-size: 64px;
		margin-bottom: -15px;
	}

	.navitem > h2 {
		font-size: 32px;
	}
}


